.header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  transition: 0.5s ease-in-out;


  h1 {
    font-size: 32px;
    color: #E31F24;
  }

  h1:hover {
    transform: scale(0.99);
  }

  span {
    cursor: pointer;
  }
}
